extends layout
    
block content

    style.
      body {  padding: 50px;  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
      a { color: #00b7ff;}

      td.td1 {width: 150px; text-align:center; padding-bottom: 5px;padding-top:5px }
      td.td2 {width: 150px; padding-left: 10px; padding-right: 10px }
      #yy, #ww, #hh, #yy2, #ww2, #hh2, #ll2, #tt2 {text-align: center;}
      *:-ms-input-placeholder {
        color: grey;
      }
      *::-webkit-input-placeholder {
        color: grey;
      }
      

    script(src='http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js')
    script(src='http://cdn.bootcss.com/moment.js/2.11.1/moment.min.js')
    script(src='http://cdn.bootcss.com/moment.js/2.11.1/locale/zh-cn.js')
    script(src='http://cdn.bootcss.com/canvasjs/1.7.0/canvasjs.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.2.0/js/transition.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.2.0/js/collapse.min.js')
    script(src='http://cdn.bootcss.com/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js')
    link(rel="stylesheet",href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet",href="http://cdn.bootcss.com/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css")

    h1 红岭创投净值标利率曲线

    div(id='chartContainer', style='height:400px; width:100%' )

    .input-group.date(id='datetimepicker1',style='width:300px;float:left')
      input.form-control(type='text')
      span.input-group-addon
        span.glyphicon.glyphicon-calendar
    button.btn.btn-default(id='btn-c1-refresh',style='margin-left:20px;margin-bottom: 20px') 确定
        
    div(id='chartContainer2', style='height:400px; width:100%' )
    p 灰色虚线为待还，单位千万

    br

    script.
        function f1(data) {
            var dPoints = !{ JSON.stringify(doc.data) };
            if (data!=null) dPoints=data;
            var max=0,min=100;
            dPoints.forEach(function (doc) {
                doc.x = new Date(doc.x);
                if (max<doc.y) max=doc.y;
                if (min>doc.y) min=doc.y;
            });
            
            dPoints.forEach(function (doc) {
                if (max == doc.y) {
                    doc.indexLabel = "最高";
                    doc.markerColor = "red";
                    doc.markerType = "triangle";
                    max = 99999;
                }
                
                if (min == doc.y) {
                    doc.indexLabel = "最低";
                    doc.markerColor = "DarkSlateGrey";
                    doc.markerType = "cross";
                    min = 999999;
                }
            });
            
            var width = $(window).width();
            var interval = Math.round(4000/width)*30;
            if (interval<=1) interval = 1;

            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "theme2",
                    title: {
                        horizontalAlign: "left",
                        margin : 20,
                        text: "24小时曲线",
                        fontSize : 23
                    },
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: "HH:mm",
                        interval: interval,
                        intervalType: "minute"
                    },
                    axisY2: {
                        includeZero: false,
                        title:"利率"
                    },
                    data: [
                        {
                            type: "area",
                            axisYType: "secondary",
                            fillOpacity: .3,
                            dataPoints: dPoints
                        }
                    ]
                }
                );

            chart.render();
            changeCredit();
        };

        function f2() {
            var dPoints = !{ JSON.stringify(doc.data2) };
            var dPoints3 = !{ JSON.stringify(doc.data3) };
            var width = $(window).width();
            var interval = Math.round(8000/width);
            if (interval<=1) interval = 1;
            
            dPoints.forEach(function (doc) {
            doc.x = new Date(doc.x);
            });
            
            dPoints3.forEach(function (doc) {
                doc.x = new Date(doc.x);
            });
            
            var chart = new CanvasJS.Chart("chartContainer2",
                {
                    theme: "theme2",
                    title: {
                        horizontalAlign: "left",
                        margin : 20,
                        text: "日K线",
                        fontSize : 23
                    },
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: "MM/DD",
                        interval: interval,
                        intervalType: "day"
                    },
                    axisY2: {
                        includeZero: false,
                        title: "利率"
                    },
                    axisY: {
                        includeZero: false,
                        minimum: 10,
                        maximum: 40,
                        gridColor: "#111111",
                        gridThickness :0,
                        title: "待还(千万)"
                    },
                    data: [
                        {
                            type: "candlestick",
                            risingColor: "#F54545",
                            color:"#0F990F",
                            axisYType: "secondary",
                            dataPoints: dPoints
                        },
                        {
                            type: "line",
                            color:"#AAAAAA",
                            lineDashType: "dash",
                            dataPoints: dPoints3
                        },
                    ]
                }
                );

            chart.render();
            changeCredit();
        };

        function changeCredit() {
            $( ".canvasjs-chart-credit" ).text('');
        }
        
        function setcalcfuntion() {
             $( "#calcbutton" ).click(function () {
                 var hhvalue=Number($('#hh').val());
                 var wwvalue=Number($('#ww').val());
                 var yyvalue=Number($('#yy').val());
                 var xxvalue=Number(0);

                 if (hhvalue>=0.175/100*(yyvalue-wwvalue)) {
                     xxvalue=yyvalue-wwvalue;
                 }
                 else {
                     xxvalue= 0.175/100*(yyvalue-wwvalue)+yyvalue/0.99825-hhvalue-wwvalue; 
                 }
                  $( "#xx" ).text(xxvalue.toFixed(2));
             });
             
              $( "#calcbutton2" ).click(function () {
                 var hhvalue=Number($('#hh2').val());
                 var wwvalue=Number($('#ww2').val());
                 var yyvalue=Number($('#yy2').val());
                 var ttvalue=Number($('#tt2').val());
                 var llvalue=Number($('#ll2').val());
                 var xxvalue=Number(0);

                 if (ttvalue>=5) {
                     var jjvalue=(yyvalue-wwvalue)*ttvalue/(10000-llvalue*ttvalue);
                     if (hhvalue>=jjvalue) {
                         xxvalue = (yyvalue-wwvalue)/(1-llvalue*ttvalue/10000);
                     }
                     else {
                         xxvalue = (yyvalue-wwvalue-hhvalue)/(1-(llvalue+jjvalue)*ttvalue/10000)
                     }
                 }
                 else {
                     var jjvalue = 5*(yyvalue-wwvalue)/(10000-5*llvalue);
                     if (hhvalue>=jjvalue) {
                         xxvalue = (yyvalue-wwvalue)/(1-llvalue*ttvalue/10000);
                     }
                     else {
                         xxvalue = (yyvalue-wwvalue-hhvalue)/(1-(ttvalue*llvalue+5)/10000);
                     }
                 }
                 
                 $( "#xx2" ).text(xxvalue.toFixed(2));
             });
        }

        function datetimewidget() {
            $('#datetimepicker1').datetimepicker({
                defaultDate: new Date(),
                sideBySide: true,
                minDate: new Date(2015,10,25),
                maxDate: new Date()
            });
        }

        $( document ).ready(function() {
            setcalcfuntion();
            f1();
            f2();
            datetimewidget();
        });
        
        window.addEventListener('resize', function(event){
            changeCredit();
        });
        
        $("#btn-c1-refresh").click(function(){
            var time = $('#datetimepicker1').data("DateTimePicker").date().format('x');
            $.ajax({
                url:"./hl/data?type=1&time="+time
            }).done(function(data){
                f1(data);
            });
        });

    div(style='display:inline-block;margin-right:100px')
        h4 红岭创投月标计算器
        table
            tr
                td.td1 需还款
                td.td2 
                    input(id='yy',placeholder="请输入")
            tr
                td.td1 可用余额
                td.td2
                    input(id='ww',placeholder="请输入")
            tr
                td.td1 可用红币
                td.td2 
                    input(id='hh',placeholder="请输入")
            tr
                td.td1 你的借款金额为
                td.td2 
                    p(id='xx',style='text-align:center;padding-top:5px') 0
            tr
                td.td1
                td.td2(style='text-align:center')
                    button(id='calcbutton') 计算
                    
    div(style='display:inline-block')
        h4 红岭创投天标计算器
        table
            tr
                td.td1 需还款
                td.td2 
                    input(id='yy2',placeholder="请输入")
            tr
                td.td1 可用余额
                td.td2
                    input(id='ww2',placeholder="请输入")
            tr
                td.td1 可用红币
                td.td2 
                    input(id='hh2',placeholder="请输入")
            tr
                td.td1 天标天数
                td.td2 
                    input(id='tt2',placeholder="请输入")
            tr
                td.td1 利率
                td.td2 
                    input(id='ll2',placeholder="万2请输入2")
            tr
                td.td1 你的借款金额为
                td.td2 
                    p(id='xx2',style='text-align:center;padding-top:5px') 0
            tr
                td.td1
                td.td2(style='text-align:center')
                    button(id='calcbutton2') 计算
    p 感谢wangshen5612同学提供公式
    p 欢迎大家提意见
    p 作者id: diwulechao2
    p email: diwulechao@163.com